<html>

<head>

</head>
<style>
    #alpr-image {
        background-color: coral;
        width: 300px;
        height: 200px;
        border: 3px solid black;
    }

    #Video_Progress_Status {
        width: 50%;
        background-color: #ddd;
    }

    #videoprogressBar {
        width: 2%;
        height: 20px;
        background-color: #4CAF50;
    }
</style>

<body>
    <script type="module" src="js/solid.js"></script>




    <div class="container" style="margin-top: 100px;">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" accept="image/*" id="files" name="file" />
        </form>
    </div>
    <output id="list"></output>
    <h2>Upload Image/phote File</h2>
    <script src="js/upload.js"></script>
    </div>

    <div class="container">
        <div style="margin: 10px auto;">
            <video autoplay="autoplay" controls="controls" preload="preload" width="320" height="240">
                <source src="http://172.187.216.226:5000/video" type="video/mp4">
                </source>
            </video>
        </div>
        <h2>Upload Video File</h2>
        <form action="/uploadvideo" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input onclick="update()" type="submit" />
        </form>
        <div id="Video_Progress_Status">
            <div id="videoprogressBar"></div>
        </div>
        <script>
            function update() {
                var element = document.getElementById("videoprogressBar");
                var width = 1;
                var identity = setInterval(scene, 10);
                function scene() {
                    if (width >= 100) {
                        clearInterval(identity);
                    } else {
                        width++;
                        element.style.width = width + '%';
                    }
                }
            }
        </script>
    </div>
</body>

</html>