<html>

<body>
    <script type="module">
        import { onCleanup, createSignal, createResource } from "https://esm.sh/solid-js@1.8.1";
        import { render } from "https://esm.sh/solid-js@1.8.1/web";
        import html from "https://esm.sh/solid-js@1.8.1/html";
        const response = await fetch(
            `http://172.187.216.226:5000/uploaddb`
        );
        const results = await response.json();
        console.log(results)

        const UploadDb = () => {
            const [userId, setUserId] = createSignal()
            return html`
            <div>ttttt</div>
            `;
        };
        render(UploadDb, document.body);
    </script>
</body>

</html>