<!DOCTYPE html>
<html>

<head>
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />

    {% include 'head-imports.html' %}
</head>


<body>

    <script type="module" src="js/solid.js"></script>

    <div class="col">

        <div class="card card-cover ">
            <div class="d-flex flex-column ">
                <p id="uploaddb" class="hide">alpr_plate from image.</p>
                <script>
                    let file = "http://127.0.0.1:5000/uploaddb"
                    fetch(file)
                        .then(x => x.text())
                        .then(y => document.getElementById("uploaddb").innerHTML = y);

                    fetch(file)
                        .then((response) => {
                            console.log(response);
                        });



                </script>
                <div>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-4 py-5" id="custom-cards">
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow0">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                            Upload Image/phote File
                        </h2>
                        <div>
                            <form action="/upload" method="POST" enctype="multipart/form-data">
                                <input type="file" accept="image/*" id="files" name="file" />
                                <input type="submit" />
                            </form>
                        </div>
                        <output id="list"></output>
                        <script src="js/upload.js"></script>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                            Upload Video File
                        </h2>
                        <div>
                            <video controls="controls" preload="preload" width="320" height="240">
                                <source src="http://127.0.0.1:5000/video" type="video/mp4">
                                </source>
                            </video>
                        </div>
                        <h2>Upload Video File</h2>
                        <form action="/uploadvideo" method="POST" enctype="multipart/form-data">
                            <input type="file" name="file" />
                            <input onclick="update()" type="submit" />
                        </form>
                        <div id="Video_Progress_Status">
                            <div id="videoprogressBar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="container" id="custom-cards">
        <iframe name="hiddenFrame" class="hide"></iframe>
        <form action="/check_key" method="get" target="hiddenFrame" class="form-signin">
            <div class="form-label-group">
                <label for="key">alpr key:</label>
                <input type="text" id="key" name="key" value="alpr_plate_to_id" placeholder="alpr_plate_to_id"><br><br>
                <label for="field">Licence Plate:</label>
                <input type="text" id="field" name="field"><br><br>
                <input type="submit" value="Submit">
            </div>
        </form>
        <output id="list"></output>
    </div>
    <section class="jumbotron text-center">
        <div class="container">
            <img id="ledPic" src="http://192.168.1.120:8080/video" class="img-fluid">
            <input type="button" id="ledonof" onclick="switchStatus();" value="ledoff">
    
            <script>
                function switchStatus() {
                    let switchButton = document.getElementById('ledonof');
                    let img = document.getElementById('ledPic');
                    if (switchButton.value == "ledon") {
                        img.src = "http://127.0.0.1:5000/video_feed";
                        switchButton.value = "ledoff";
                    } else {
                        img.src = "http://192.168.1.120:8080/video";
                        switchButton.value = "ledon";
                    }
                }
    
            </script>
        </div>
    </section>


</body>
{% include 'scripts.html' %}

</html>