[Unit]
Description=OpenALPR Docker containers
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "docker compose -f /home/dell/repos/pyanpr/openalpr-upload/docker-compose.yml up --detach"
ExecStop=/bin/bash -c "docker compose -f  /home/dell/repos/pyanpr/openalpr-upload/docker-compose.yml stop"
ExecReload=/bin/bash -c "docker compose -f  /home/dell/repos/pyanpr/openalpr-upload/docker-compose.yml down -v"
[Install]
WantedBy=multi-user.target
