#ExecStart=/home/dell/repos/pyanpr/.venv/bin/python  /home/dell/repos/pyanpr/test.py
[Unit]
Description=ALPR Camera node-1
After=systemd-user-sessions.service

[Service]
Type=simple
WorkingDirectory=/home/dell/repos/pyanpr
ExecStart=alprd -f



