#ExecStart=/home/dell/repos/pyanpr/.venv/bin/python  /home/dell/repos/pyanpr/test.py
[Unit]
Description=Alpr Flask
After=systemd-user-sessions.service

[Service]
Type=simple
WorkingDirectory=/home/dell/repos/pyanpr
ExecStart=/usr/bin/python3  /home/dell/repos/pyanpr/app.py 
Restart=always



