#alpr-image {
  background-color: coral;
  width: 300px;
  height: 200px;
  border: 3px solid black;
}


#Video_Progress_Status {
  width: 50%;
  background-color: #ddd;
}

#videoprogressBar {
  width: 2%;
  height: 20px;
  background-color: #4CAF50;
}
video {
  width: 100%;
  height: auto;
}

